@model TestAuthentification.Models.Consultation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarques)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarques)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medecin.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeConsultation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeConsultation.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateConsultation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateConsultation))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
